@charset "utf-8";

body {
    font-size: 71.42857%;
}
    
/* Main */
#main {
    width: 100%;
}

/* Footer */

#footer .icons {
    color: #aaaaaa;
}

#footer .copyright {
    color: #aaaaaa;
}

body {
    color: #646464;
    
}