html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font: 300 1.4rem/1.4 'Karma';
  color: $primary_color;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Links */

a, a:visited {
  text-decoration: none;
  outline: 0;
  color: #93B876;
}
a:hover, a:focus { color: #34393A; }
p a, p a:visited { line-height: inherit; }

/*  List */

ul, ol { margin-bottom: 24px; margin-top: 12px; }
ul { list-style: none  }
ol { list-style: decimal; }

ol, ul.square, ul.circle, ul.disc { margin-left: 17px; }

ul.square { list-style: square }
ul.circle { list-style: circle }
ul.disc { list-style: disc }

ul li { padding-left: 4px; }

ul ul, ul ol,
ol ol, ol ul { margin: 6px 0 6px 17px; }


/* Grid */

.row {
  margin: 0 auto;
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after
{
  clear: both;
}

.col, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1  {
  padding:  0 1%;
  display: inline-block;
  vertical-align: top;
}

.col-12 { width: 100% }
.col-11 { width: 91.6666666667% }
.col-10 { width: 83.3333333333% }
.col-9  { width: 75% }
.col-8  { width: 66.6666666667% }
.col-7  { width: 58.3333333333% }
.col-6  { width: 50% }
.col-5  { width: 41.6666666667% }
.col-4  { width: 33.3333333333% }
.col-3  { width: 25% }
.col-2  { width: 16.6666666667% }
.col-1  { width: 8.3333333333% }

