
.grid {
    padding: 10px 10px 10px 10px;
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
  
.grid li {
    display: inline-block;
    width: 45%;
    margin: 0;
    padding: 10px;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}
  
.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}
  
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    background: #93B876;
    color: #deedde;
  }
  
.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.grid figcaption h3:before {
    content: 'I ♥ ';
}
  
.grid figcaption a {
    position: absolute; 
    left: 90px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    background: #056d1a;
    color: #fff;
}

/* Caption */
.caption-hover figure {
    overflow: hidden;
}

.caption-hover figure img {
    transition: transform 0.4s;
  }
  
.caption-hover figure:hover img  {
    transform: translateY(-50px);
}
  
.caption-hover figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
  
.caption-hover figure:hover figcaption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s;
}
  
