/* primary navigation */

.nav-wrapper, .nav-wrapper ul, .nav-wrapper li, .nav-wrapper a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* .nav-wrapper */
.nav-wrapper {
  font: 12px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;   
  background: #F5F4F3;
  border-bottom: 1px solid #EAE8E8;
  width: 100%;

  float: left;
  position: absolute;
  top: 6px;
  left: 0;
}

ul.nav {
    min-height: 50px;
    width: auto;
    margin-left: 20px;
 
    float: left;
    position: relative;
    top: 0;   
 
    /* left align the menu */
    text-align: left;    
 }

ul.nav li {
    position: relative;
    list-style: none;
    height: 50px;
    display: inline-block;   
    padding-top: 10px;
}
 
/* float left to remove gaps between 1st level list items */
ul.nav > li { float: left; }

/* Links */
ul.nav li a {
    display: inline-block;
    padding: 0 15px;
    line-height: 40px;
    text-decoration: none;
    color: #666666;  
}

ul.nav li a:hover { color: #93B876; }
ul.nav li a:active { background-color: transparent !important; }
ul.nav li.current > a {    
	background: #fff;	
	padding: 0 14px;  
    border-right: 1px solid #EAE8E8;
    border-top: 1px solid #EAE8E8;
    border-left: 1px solid #EAE8E8; 
    font-weight: bold;
    border-radius: 3px 3px 0 0;   
}

.nav-wrapper label {
    display: none;
    font-size: 30px;
    color: #f00;
    position: fixed;
    padding: 2px 10px 5px 5px;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 50;
  }
.nav-wrapper input[type="checkbox"] {
    display: none;
  }
  

@media screen and (max-width: 767px) {
    .nav-wrapper label {
      display: block;
    }
    .nav-wrapper input[type="checkbox"]:checked + div .nav  {
        left: 0;
    }

   .nav-wrapper .nav {
     float: left;
    }
}


/* screenwidth less than 768px - mobile/smaller tablets
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

   /* mobile navigation */
   .nav-wrapper .nav {
        position: fixed;
        left: -250px;
        top: 0;
        bottom: 0;
        width: 230px;
        margin: 0;
        background: #fff;
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        box-shadow: 2px 2px 5px #9FCC7F;
   }
   .nav-wrap > a {	   
      text-align: left;
	  border: none;            
      font-size: 12px;
      height: 54px;
      line-height: 54px;     
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      float: right;
      position: relative;
      top: 0px;
      right: 36px;
   }
	
	/* remove float left on 1st level list items */
	ul.nav > li { float: none; }

    ul.nav > li {
        display: block;
        height: auto;      
        text-align: left;
        border-bottom: 1px dotted #D3D5DA;
        padding: 6px;
    }

    ul.nav > li:first-child {
            border-top: 1px dotted #D3D5DA;
    }
    
    ul.nav li a {  
        display: block;   
        width: auto;  
        
        line-height: 16px; /* reset line-height from 40px */
        border: none;
    } 
    ul.nav li.current > a {
        
        padding: 3em 0;
        color: #111;
    } 
}


/* screenwidth less than or equal 480px - mobile wide
  -------------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {   


	/* mobile navigation
   --------------------------------------------------------------- */
	.nav-wrap > a { right: 30px; }  
    .nav-wrap { width: 100%; }
    .nav-wrap ul.nav { width: 100%; }         

}


/* make sure the menu is visible on larger screens
  -------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
   
   .nav-wrap ul.nav { display: block !important; }

}
